*.o
*.bin
*.svg
*.out 
*.swp
.~
thumbs.db

*.shp
*.shp*
*.shx*
*.shx
*.geojson

*.cpg
*.dbf
*.zip*
*.prj
*.xml
*.html
airportnames
mapnames

build

# Ignore the executable, but not the include directory
/viz1090
